.App {
    margin: 0; 
    padding: 0;
    height: 100%;
    width: 100%;
}
.main{
    border: 2px solid red;
    padding: 1rem;
}
.grid-container {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 5fr 5fr 7fr 7fr 3fr 3fr;
    grid-gap: 1rem;
    border: 2px solid blue;
    padding: 1.5rem;
  }
  
  .grid-item {
    background-color: #f2f2f2;
    padding: 2rem;
    font-size: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .wide {
    grid-column: span 1;
  }
  
  .long {
    grid-row: span 2;
  }
